body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}

.text {
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 10px 0;
}

.btn {
    background-color: black;
    border-radius: 20px;
    margin: 5px 5px;
    width: 120px;
    height: 30px;
    text-align: center;
}

.btn a {
    color: aliceblue;
    text-decoration: none;
}