<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBX STOCK</title>
    <link rel="stylesheet" href="../static/css/style_a.css">
</head>
<body>
    <iframe src="https://giphy.com/embed/2BcittMY61ODrsz3q6" width="96px" height="96px" frameBorder="0" allowFullScreen onclick="null" style="pointer-events: none;"></iframe>
    <h1 class="text">บันทึกข้อมูลเรียบร้อย</h1>
    <h5 class="text">บันทึกเมื่อวันที่ : {{date}}</h5>
    <div class="btn">
        <a href="/">กลับหน้าแรก</a>
    </div>
    
</body>
</html>